* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.square {
  width: 1280px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
  box-sizing: border-box;
  background-color: #ffffffc7;
}
.header-child-1 {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Logo */

.icon-tree {
  width: 24px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #194553;
  border-radius: 50%;

  color: #ffffff;
}
.logo {
  display: flex;
  flex-direction: column;
}

.pinetour {
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.45px;
}

.mongolia {
  font-family: "Inter";
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.55px;
}

/* Middle menu */
.middle {
  display: flex;
  align-items: center;
  gap: 24px;
}

.destinations {
  width: 124.28px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background-color: #2b697a;
  color: #ffffff;
  padding: 8px 16px;
}

.same-words {
  display: flex;
  gap: 30px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.14px;
}

/* Right menu */
.right-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.en {
  width: 71.17px;
  height: 24px;
  padding: 4px 12px;
  border-radius: 9999px;

  background-color: #ecf5fa;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5px;
}

.en span {
  color: #141d21;
  font-family: "Inter";
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
}

.contact1 {
  width: 86.55px;
  height: 44px;
  padding-top: 11.5px 16px 12.5px;
  border-radius: 9999px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #d9eff7;
  color: #065161;

  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
}

.book-expedition {
  width: 159.44px;
  height: 48px;
  border-radius: 9999px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #2b697a;
  color: #ffffff;

  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.14px;
}

.icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #065161;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero section */

.hero-section {
  width: 1280px;
  height: 672px;
}

.gradient-scrim {
  width: 1280px;
  height: 671.75px;
  background-image: url(./Nature.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Pill badges */

.pill-badges-shadow {
  width: 286.75px;
  height: 34px;

  background-color: #ffffff;
  border-radius: 9999px;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  gap: 10px;
  margin-top: 48px;
  margin-bottom: 16px;
}
.pure {
  width: 112.17px;
  height: 24px;
  border-radius: 9999px;
  padding: 4px 16px;
  box-sizing: border-box;

  background-color: #194553;
  color: #d9eff7;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1.1px;
  margin: 5px;

  white-space: nowrap;
}

.container-expe {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
  color: #194553;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 4px 5px 8px;
}
.icon-star {
  width: 16px;
  height: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #194553;
  border-radius: 50%;

  color: #ffffff;
  font-size: 8px;
}

/*  Main Headline: margin */

.Shadow {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.75px;
  text-align: center;
  vertical-align: middle;

  color: #d9eff7;
  margin: 8px;
}

.Heading1 {
  font-family: Plus Jakarta Sans;
  font-weight: 900;
  font-style: ExtraBold;
  font-size: 56px;
  color: #ffffff;
  line-height: 64px;
  letter-spacing: -1.4px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  margin: 16px;
}
.margin1 {
  width: 635.23px;
  height: 88px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.25px;
  letter-spacing: 0px;
  text-align: center;

  color: #d9eff7;
  display: flex;
}

/*Feature Badges Row:margin*/

.feature-badges-row {
  display: flex;
  justify-content: space-around;
  gap: 12px;
}
.overlay-blur {
  width: 215px;
  height: 44px;
  border-radius: 9999px;

  padding: 4px 16px;
  box-sizing: border-box;

  background-color: #ffffff;
  color: #194553;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  text-align: center;
  vertical-align: middle;
}

/* Action Floating Search & Filter Pill Bar*/

.Action-Floating-Search {
  width: 896px;
  height: 68px;

  border-radius: 9999px;

  background-color: #ffffff;
  border-radius: 9999px;

  display: flex;
  justify-content: space-around;
  gap: 12px;

  box-sizing: border-box;
  margin-top: 48px;
  margin-bottom: 95.75px;
}

.Season {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #70787c;

  margin: 16px;
}

.Season span {
  color: #141d21;
  font-weight: 700;
}

.ROUTE {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #70787c;
}

.ROUTE span {
  color: #141d21;
  font-weight: 700;
}
.Container3 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.Explore-Itinerary {
  width: 195.83px;
  height: 48px;
  border-radius: 9999px;

  padding: 4px 16px;
  box-sizing: border-box;

  background-color: #194553;
  color: #d9eff7;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  text-align: center;
  vertical-align: middle;
}

.Pricing1 {
  width: 96.47px;
  height: 48px;
  padding: 14px 24px;
  border-radius: 9999px;
  box-sizing: border-box;

  background-color: #d9eff7;
  color: #065161;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  text-align: center;
  vertical-align: middle;
}

/*Section - Featured Natural Wonders Showcase*/
.Natural-container {
  width: 1184;
  height: 72;
  display: flex;
  justify-content: space-between;
}

.Wonder {
  width: 488.48px;
  height: 72px;
  gap: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 11px;
  letter-spacing: 1.1px;

  color: #065161;

  margin: 16px;
}

.Wonder span {
  font-family: Plus Jakarta Sans;
  font-weight: 900;
  font-style: ExtraBold;
  font-size: 40px;
  letter-spacing: -1px;
  color: #141d21;
}

.Tra {
  width: 439.9px;
  height: 72px;

  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;

  line-height: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Asymmetric 4-Card Bento Grid */




.Card{
  display: flex;
  flex-direction: column;
}
.Card1-2{
  display: flex;
}
/*Khuvsgul */

.Khuvsgul-section {
  position: relative;
  height: 420px;
  width: 680px;
}
.Khuvsgul-lake-img {
  width: 680.6px;
  height: 420px;
}
.Khuvsgul-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 8px;
  bottom: 60px;
  left: 31.99px;
  margin: 32px;
}

.Khuvsgul-Pearl {
  display: flex;
}

.Khuvsgul-province {
  width: 154.9px;
  height: 24px;
  border-radius: 9999px;
  padding: 4px 12px;
  gap: 8px;

  box-sizing: border-box;

  background-color: #d9eff7;
  color: #194553;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;

  white-space: nowrap;
}
.Blue-pearl {
  width: 108.48px;
  height: 24px;
  border-radius: 9999px;
  padding: 4px 12px;

  box-sizing: border-box;

  background-color: #ffffffc7;
  color: #141d21;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;

  white-space: nowrap;
}

.Khuvsgul-lake {
  display: flex;
  flex-direction: column;

  font-family: Plus Jakarta Sans;
  font-weight: 700;
  color: #d9eff7;
}
.Mongolia-deep {
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  color: #d9eff7;
}
.freshwater-alti {
  display: flex;
  gap: 16px;
  display: flex;
  align-items: center;
}

.freshwater {
  font-family: Inter;
  font-weight: 600;
  font-size: 11px;
  gap: 16px;
  color: #d9eff7;
}

.Alti {
  font-family: Inter;
  font-weight: 600;
  font-size: 11px;

  color: #d9eff7;
}

/*Terkhiin Tsagaan Lake */

.Terkh-section {
  position: relative;
  height: 420px;
  width: 680px;
}
.Terkh-img{
  width: 680.6px;
  height: 420px;
}
.Terkh-text{
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 8px;
  bottom: 60px;
  left: 31.99px;
  margin: 32px;
}

.Terkh-volca{
  display: flex;
}

.Arkhangai{
  width: 96.33px;
  height: 24px;
  border-radius: 9999px;
  padding: 4px 12px;
  
  gap: 19.99px;
  box-sizing: border-box;

  background-color: #d9eff7;
  color: #194553;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;

  white-space: nowrap;
}
.volcanic{
  width: 108.48px;
  height: 24px;
  border-radius: 9999px;
  padding: 4px 12px;

  box-sizing: border-box;

  background-color: #ffffffc7;
  color: #141d21;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;

  white-space: nowrap;
}

.Terkhiin-Tsagaan-Lake{
  display: flex;
  flex-direction: column;

  font-family: Plus Jakarta Sans;
  font-weight: 700;

}
.Great-white{
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
}
.Lake-side-Bird{
  display: flex;
  gap: 16px;
  display: flex;
  align-items: center;
}

.Lakeside{
  font-family: Inter;
  font-weight: 600;
  font-size: 11px;
  gap: 16px;
}

.Bird {
  font-family: Inter;
  font-weight: 600;
  font-size: 11px;

}

.card3-4{
  display: flex;
}
/*Khorgo */

.Khorgo-section {
  position: relative;
  height: 420px;
  width: 680px;
}
.khorgo-img{
  width: 680.6px;
  height: 420px;
 
}
.Khorgo-text{
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 8px;
  bottom: 60px;
  left: 31.99px;
  margin: 32px;
}

.Ar-crater{
  display: flex;
}

.Arkhangai{
  width: 96.33px;
  height: 24px;
  border-radius: 9999px;
  padding: 4px 12px;
  
  gap: 19.99px;
  box-sizing: border-box;

  background-color: #d9eff7;
  color: #194553;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;

  white-space: nowrap;
}
.crater{
  width: 108.48px;
  height: 24px;
  border-radius: 9999px;
  padding: 4px 12px;

  box-sizing: border-box;

  background-color: #ffffffc7;
  color: #141d21;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;

  white-space: nowrap;
}
.Khorgiin-Togoo{
  display: flex;
  flex-direction: column;

  font-family: Plus Jakarta Sans;
  font-weight: 700;
  color: #FFFFFF;

}
.Ascend{
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
}

/*Amarbaysglan*/

.Amar-section{
  position: relative;
  height: 420px;
  width: 680px;
}
.amar-img{
  width: 680.6px;
  height: 420px;
 
}
.Amar-text{
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 8px;
  bottom: 60px;
  left: 31.99px;
  margin: 32px;
}

.Amar-heritage{
  display: flex;
}

.BULGAN-PROVINCE{
  width: 137.5px;
  height: 24px;
  border-radius: 9999px;
  padding: 4px 12px;
  
  gap: 19.99px;
  box-sizing: border-box;

  background-color: #d9eff7;
  color: #194553;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;

  white-space: nowrap;
}
.Century-Heritage{
  width: 152.06px;
  height: 24px;
  border-radius: 9999px;
  padding: 4px 12px;

  box-sizing: border-box;

  background-color: #ffffffc7;
  color: #141d21;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;

  white-space: nowrap;
}
.Amarbayasgalant-Monastery{
  display: flex;
  flex-direction: column;

  font-family: Plus Jakarta Sans;
  font-weight: 700;
  color: #FFFFFF;

}
.monasteries{
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
}



/*Section Header */

.Section-Header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.itinerary-roadmap{
  font-family: Inter;
  font-weight: 700;
  font-size: 11px;

  width: 190.77px;
  height: 24px;
  gap: 8px;
  
  border-radius: 9999px;
  paddingt: 4px 16px;

  background: #D9EFF7;
  color: #065161;

  display: flex;
  justify-content: center;
  align-items: center;


}
.Destination-Our-Agency{
  font-family: Plus Jakarta Sans;
  font-weight: 900;
  font-size: 40px;
}

.Pack{
font-family: Inter;
font-weight: 400;

font-size: 18px;
}

/*Detailed Day-by-Day Cards Grid */

.Day-by-Day {
  display: flex;
  flex-direction: column;
  width: 1184px;
  height: 514px;
  margin: 48px;
}

.day-123 {
  display: flex;
  gap: 24px;
}

.day-456 {
  display: flex;
  gap: 24px;
}



/*DAY-1*/

.Day-1{
  width: 378.67px;
  height: 243px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  padding: 24px;

  
}
.Day-1-head{
  display: flex;
  align-items: center;
  gap: 61.02px;
  margin: 8px;

}
.Day-1-text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 11px;

  width: 64.94px;
  height: 24px;

  margin-right: 24px;

  border-radius: 9999px;

  padding: 4px 12px;
  box-sizing: border-box;

  background: #E6EFF5;
  color: #70787C;

  display: flex;
  justify-content: center;
  align-items: center;
}


.Sukhbaatar-square{
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  color: #70787C;

}

.Urban{
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 12px;
}

.Assembly-point{
  width: 330.67px;
  height: 80px;

  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  color:#40484B;
  margin-top: 8px;
  margin-bottom: 16px;

}
.overland-drive{
  font-family: Inter;
  font-weight: 600;
  font-size: 11px;
  color:#70787C;
  margin-bottom: 24px
  px;
;
}


/*DAY-2*/

.Day-2{
  width: 378.67px;
  height: 243px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  padding: 24px;

  
}
.Day-2-head{
  display: flex;
  align-items: center;
  gap: 61.02px;
  margin: 8px;

}

.Day-2-text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 11px;

  width: 64.94px;
  height: 24px;

  margin-right: 24px;

  border-radius: 9999px;

  padding: 4px 12px;
  box-sizing: border-box;

  background: #E6EFF5;
  color: #70787C;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Amarbayasgalant{
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  color: #70787C;

}

.Monastic{
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 12px;
}

.Journey{
  width: 330.67px;
  height: 80px;

  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  color:#40484B;
  margin-top: 8px;
  margin-bottom: 16px;

}
.Architectural-Tour{
  font-family: Inter;
  font-weight: 600;
  font-size: 11px;
  color:#70787C;
  margin-bottom: 24px
  
}

/*DAY-3*/

.Day-3{
  width: 378.67px;
  height: 243px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  padding: 24px;

  
}
.Day-3-head{
  display: flex;
  align-items: center;
  gap: 61.02px;
  margin: 8px;

}

.Day-3-text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 11px;

  width: 64.94px;
  height: 24px;

  margin-right: 24px;

  border-radius: 9999px;

  padding: 4px 12px;
  box-sizing: border-box;

  background: #E6EFF5;
  color: #70787C;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Khorgiin-togoo-Arkhangai{
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  color: #70787C;

}

.Basalt-Lava-Fields{
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 12px;
}

.Hike{
  width: 330.67px;
  height: 80px;

  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  color:#40484B;
  margin-top: 8px;
  margin-bottom: 16px;

}
.Hour-trek{
  font-family: Inter;
  font-weight: 600;
  font-size: 11px;
  color:#70787C;
  margin-bottom: 24px
  
}


/*DAY-4*/

.Day-4{
  width: 378.67px;
  height: 243px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  padding: 24px;

  
}
.Day-4-head{
  display: flex;
  align-items: center;
  gap: 61.02px;
  margin: 8px;

}

.Day-4-text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 11px;

  width: 64.94px;
  height: 24px;

  margin-right: 24px;

  border-radius: 9999px;

  padding: 4px 12px;
  box-sizing: border-box;

  background: #E6EFF5;
  color: #70787C;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Terkhiin-tsagaan-Lake{
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  color: #70787C;

}

.Great-White-Lake-Wilderness{
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 12px;
}

.Waterfront{
  width: 330.67px;
  height: 80px;

  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  color:#40484B;
  margin-top: 8px;
  margin-bottom: 16px;

}
.Lakefront{
  font-family: Inter;
  font-weight: 600;
  font-size: 11px;
  color:#70787C;
  margin-bottom: 24px
  
}

/*DAY-5*/

.Day-5{
  width: 378.67px;
  height: 243px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  padding: 24px;

  
}
.Day-5-head{
  display: flex;
  align-items: center;
  gap: 61.02px;
  margin: 8px;

}

.Day-5-text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 11px;

  width: 194.44px;
  height: 24px;

  border-radius: 9999px;

  padding: 4px 12px;
  box-sizing: border-box;

  background:#2B697A;
  color: #FFFFFF;


  display: flex;
  justify-content: center;
  align-items: center;
}

.Khuvsgul-lake-Khuvsgul{
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  color: #70787C;

}

.The-Blue-Pearl{
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 8px;
  margin-top: 12px;
}

.alpine{
  width: 509.32px;
  height: 60px;

  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  color:#40484B;
  margin-top: 8px;
  margin-bottom: 16px;

}
.Tsaatan-Reindeer-Camp{
  width: 179.11px;
  height: 24px;
  border-radius: 9999px;
  padding: 4px 12px;

  font-family: Inter;
  font-weight: 600;
  font-size: 11px;

  color:#194553;
  background-color: #E6EFF5;

  margin-bottom: 24px
  
}
.Traditional-Stone-Khorkhog{
  width: 179.11px;
  height: 24px;
  border-radius: 9999px;
  padding: 4px 12px;

  font-family: Inter;
  font-weight: 600;
  font-size: 11px;

  color:#194553;
  background-color: #E6EFF5;

  margin-bottom: 24px
  
}

.Tsaatan-Tradition{
  display: flex;
}
.boat{
  width: 224px;
  height: 176px;
}

/*Pricing-Tiers-Section Header */

.Price-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.TRANSPARENT-TIERS{
  font-family: Inter;
  font-weight: 700;
  font-size: 11px;

  width: 191.78px;
  height: 24px;
  gap: 8px;
  
  border-radius: 9999px;
  paddingt: 4px 16px;

  background: #D9EFF7;
  color: #065161;

  display: flex;
  justify-content: center;
  align-items: center;


}
.Pricing-Our-Agency{
  font-family: Plus Jakarta Sans;
  font-weight: 900;
  font-size: 40px;
}

.Choose-package{
font-family: Inter;
font-weight: 400;

font-size: 18px;
}



/* 3-Column Desktop Grid */

.Column-Desktop-Grid {
  display: flex;
  gap: 24px;
}


/* Each package/card */

.Tier-1-Budget-Package {
  width: 373.33px;
  height: 513px;

  display: flex;
  flex-direction: column;

  padding: 48px;

  box-sizing: border-box;
}


/* Budget label */

.BUDGET-PACKAGE {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 11px;

  color: #40484B;

  width: fit-content;
  height: 24px;

  border-radius: 9999px;

  padding: 4px 16px;

  background-color: #E6EFF5;

  margin: 0 0 16px 0;
}


/* Package content */

.Tier-1-container {
  display: flex;
  flex-direction: column;
}


/* Price */

.Tier-1-paragraph {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
  font-size: 36px;

  margin: 0 0 24px 0;
}

.Tier-1-paragraph span {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
}


/* Heading */

.ESSENTIAL-COVERED {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 14px;

  color: #065161;

  margin-bottom: 12px;
}


/* Small text */

.include {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 11px;

  color: #70787C;

  margin-bottom: 12px;
}


/* Included items */

.Group {
  width: 277.33px;

  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 13px;

  color: #141D21;

  margin-bottom: 24px;
}


/* Remove default paragraph margins */

.Group p {
  margin: 0 0 10px 0;
}


/* Button */

.button {
  width: 277.33px;
  height: 48px;

  border: none;
  border-radius: 9999px;

  padding: 13.5px 24px 14.5px;

  box-sizing: border-box;

  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;

  cursor: pointer;
}
.RECOMMENDED-MOST-POPULAR {
  width: 186.67px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  box-sizing: border-box;

  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 11px;
  line-height: 1;

  color: #FFFFFF;
  background-color: #D97706;

  border-radius: 9999px;
}

/* Tier-2 package/card */

.Tier-2-Budget-Package {
  width: 373.33px;
  height: 513px;

  display: flex;
  flex-direction: column;

  padding: 48px;

  box-sizing: border-box;
}


/* Budget label */

.Standard-PACKAGE {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 11px;

  color: #40484B;

  width: fit-content;
  height: 24px;

  border-radius: 9999px;

  padding: 4px 16px;

  background-color: #E6EFF5;

  margin: 0 0 16px 0;
}


/* Package content */

.Tier-2-container {
  display: flex;
  flex-direction: column;
}


/* Price */

.Tier-2-paragraph {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
  font-size: 36px;

  margin: 0 0 24px 0;
}

.Tier-2-paragraph span {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
}


/* Heading */

.BALANCED-ADVENTURE{
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 14px;

  color: #065161;

  margin-bottom: 12px;
}


/* Small text */

.include {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 11px;

  color: #70787C;

  margin-bottom: 12px;
}


/* Included items */

.Group {
  width: 277.33px;

  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 13px;

  color: #141D21;

  margin-bottom: 24px;
}


/* Remove default paragraph margins */

.Group p {
  margin: 0 0 10px 0;
}


/* Button */

.button1 {
  width: 277.33px;
  height: 48px;

  border: none;
  border-radius: 9999px;

  padding: 13.5px 24px 14.5px;

  box-sizing: border-box;

  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;

  cursor: pointer;
}

/* Tier-3 package/card */

.Tier-3-Budget-Package {
  width: 373.33px;
  height: 513px;

  display: flex;
  flex-direction: column;

  padding: 48px;

  box-sizing: border-box;
}


/* Budget label */
.Package-label{
  display: flex;
  gap: 40.66px ;
}

.LUXURY-PACKAGE {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 11px;

  color: #40484B;

  width: fit-content;
  height: 24px;

  border-radius: 9999px;

  padding: 4px 16px;

  background-color: #E6EFF5;

  margin: 0 0 16px 0;
}
.All-Inclusive{
  font-family: Inter;
  font-weight: 700;
  font-size: 11px;
  color: #D97706;

  width: 96.27px;
  height: 24px;
  border-radius: 9999px;
  padding: 4px 12px;
  background-color: #E6EFF5;
 
}


/* Package content */

.Tier-3-container {
  display: flex;
  flex-direction: column;
}


/* Price */

.Tier-3-paragraph {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
  font-size: 36px;

  margin: 0 0 24px 0;
}

.Tier-3-paragraph span {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
}


/* Heading */

.ULTIMATE-COMFORT{
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 14px;

  color: #065161;

  margin-bottom: 12px;
}


/* Small text */

.include {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 11px;

  color: #70787C;

  margin-bottom: 12px;
}


/* Included items */

.Group {
  width: 277.33px;

  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 13px;

  color: #141D21;

  margin-bottom: 24px;
}


/* Remove default paragraph margins */

.Group p {
  margin: 0 0 10px 0;
}


/* Button */

.button1 {
  width: 277.33px;
  height: 48px;

  border: none;
  border-radius: 9999px;

  padding: 13.5px 24px 14.5px;

  box-sizing: border-box;

  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;

  cursor: pointer;
}


 /*Section - Trust & Expedition Value (PineTour Promise)*/

 .Trust-container{
  display: flex;
  width: 1088px;
  height: 430px;
 }

.Expedition-container1{
  width: 425.33px;
  height: 288px;
  gap: 8px;
  margin: 119px;
  }
.GUARANTEED-SAFETY-RESPECT{
  width: 201.09px;
  height: 16px;

  font-family: Inter;
  font-weight: 700;
  font-size: 11px;
  color: #065161;
  margin-bottom: 10px;
}

.The-PineTour-Promise{
  font-family: Plus Jakarta Sans;
  font-weight: 900;
  font-size: 40px;

  color:#141D21;
  margin-bottom: 8px;
}
.Operating-under{
font-family: Inter;
font-weight: 400;
font-size: 15px;

width: 425.33px;
height: 96px;

color: #40484B;
margin-bottom: 8px;
}
.GUARANTEED-cotainer{
display: flex;
flex-direction: column;
}

.Leave-No-Trace-Certified{
font-family: Inter;
font-weight: 700;
font-size: 11px;

width: 145.97px;
height: 16px;

background-color:#E6EFF5;
color: #065161;
margin-bottom: 24px;
}

.Wilderness-First-Responder-Equipped{
font-family: Inter;
font-weight: 700;
font-size: 11px;

width: 221.42px;
height: 16px;

background-color:#E6EFF5;
color: #065161;
}